body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent1{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: left;
}
.box {
	background: white;
	width: 450px;
	border-radius: 6px;
	margin: 0 auto 0 auto;
	padding: 0px 0px 70px 0px;
	border: #2980b9 4px solid;
}

.box1 {
	background: white;
	width: 450px;
	border-radius: 6px;
	margin: 20 auto 20 auto;
	padding: 0px 0px 70px 0px;
	border: #2980b9 4px solid;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #3498db;
	/* background-repeat: no-repeat;
	background-image: url("/images/njit.jpg"); */
	margin: 0 auto 0 auto;
	width: 100%;
	/* text-align: center; */
	margin: 150px 0px 20px 0px;
}

.btn {
	background: #2ecc71;
	width: 125px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	border-radius: 4px;
	border: #27ae60 1px solid;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	margin-left: 68px;
	font-weight: 800;
	font-size: 0.8em;
}

table  {
    border-collapse: collapse;
}
 
table td, th  {
    padding: 5px;
}