<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link href='/css/home.css' rel='stylesheet' type='text/css'>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

<script src="js/home.js"></script>
</head>
<body ng-app="home" ng-controller="homeController">
	<form>
		<div class="box">
			<div class="tab">
				<button class="tablinks" ng-click="openCity(event, 'Send')">Send</button>
				<button class="tablinks" ng-click="openCity(event, 'Request')">Request</button>
				<button class="tablinks" ng-click="openCity(event, 'Split')">Split</button>
			</div>
			<div id="Send" class="tabcontent">
				<input type="text" id="fromUser" class="form-control"
					placeholder="Enter phoneNum, email from user" ng-model="fromUser"><br>
				<input type="text" id="toUser" class="form-control"
					placeholder="Enter phoneNum, email to user" ng-model="toUser"><br>
				<input type="text" id="amount" class="form-control"
					placeholder="Enter amount to send" ng-model="amount"><br>
				<input type="text" id="memo" class="form-control"
					placeholder="Enter memo" ng-model="memo"><br> <input
					type="button" class="btn btn-primary" ng-click="sendMoney()"
					value="Send"></a>
			</div>

			<div id="Request" class="tabcontent">
				<input type="text" id="requestorIdentifierr" class="form-control"
					placeholder="Enter phoneNum, email from user"
					ng-model="requestorIdentifier"><br> <input type="text"
					id="requesteeIdentifier" class="form-control"
					placeholder="Enter phoneNum, email to user"
					ng-model="requesteeIdentifier"><br> <input type="text"
					id="rtAmount" class="form-control"
					placeholder="Enter amount to request" ng-model="rtAmount"><br>
				<input type="text" id="rtMemo" class="form-control"
					placeholder="Enter memo" ng-model="rtMemo"><br> <input
					type="button" class="btn btn-primary" ng-click="requestMoney()"
					value="Request"></a>
			</div>

			<div id="Split" class="tabcontent">
				<input type="text" id="userIdentifier" class="form-control" placeholder="Enter a Phone number or emailId to receive money" ng-model="loggedInUserIdentifier"><br> 
				<input type="text" id="splitwith" class="form-control" placeholder="Enter comma seperated phone number or email" ng-model="splitwithIdentifiers"><br> 
				<input type="text" id="splitAmount" class="form-control" placeholder="Enter amount to split" ng-model="amountToSplit"><br>
				<input type="button" class="btn btn-primary" ng-click="split()" value="Split"></a>
			</div>
		</div>
	</form>
	<br />
	<form>
		<div class="tab">
			<button class="tablinks" ng-click="openCity(event, 'Statement')">Statement</button>
			<button class="tablinks"
				ng-click="openCity(event, 'TransationHistory')">Transation
				History</button>
			<button class="tablinks" ng-click="openCity(event, 'Activities')">Activities</button>
		</div>

		<div id="TransationHistory" class="tabcontent">
			<input type="date" ng-model="fromDate" />
			<input type="date" ng-model="toDate" /><br>
			<input type="text" ng-model="txnIdentifier" /><br>
			<input type="button" class="btn btn-primary" ng-click="getTransactions()" value="SearchTransaction"></a>
			
			<table border="1">
				<tr>
					<th>Transaction Id</th>
					<th>Transaction Amount</th>
					<th>Transaction Date</th>
					<th>SentTo/ReceivedFrom</th>
				</tr>
				<tr ng-repeat="transaction in transactions">
					<td>{{transaction.stId}}</td>
					<td>{{transaction.stAmount}}</td>
					<td>{{transaction.stDateTime}}</td>
					<td>{{transaction.identifier}}</td>
				</tr>
			</table>
		</div>

		<div id="Statement" class="tabcontent">
			<input type="date" ng-model="fromDate" />
			<input type="date" ng-model="toDate" /><br>
			<input type="text" ng-model="ssn" /><br>
			<input type="button" class="btn btn-primary" ng-click="getStatement()" value="GetStatement"></a><br><br><br><br>
			<div>
				<p>Total money sent = <span style= "font-weight:bold">{{statement.sentSum}}</span><br>
				<p>Total money received  = <span style= "font-weight:bold">{{statement.receivedSum}}</span><br>
				<p>Average money sent = <span style= "font-weight:bold">{{statement.sentAvg}}</span><br>
				<p>Average money received = <span style= "font-weight:bold">{{statement.receivedAvg}}</span><br>
				<p>Maximum money sent = <span style= "font-weight:bold">{{statement.sentMax}}</span><br>
				<p>Maximum money received = <span style= "font-weight:bold">{{statement.receivedMax}}</span><br>
				<p>Best User who sent maximum total amount = <span style= "font-weight:bold">{{statement.bestSentUser}}</span><br>
				<p>Best User who received maximum total amount = <span style= "font-weight:bold">{{statement.bestreceivedUser}}</span><br>
			</div>
		</div>

		<div id="Activities" class="tabcontent">
			<!-- <input type="button" class="btn btn-primary" ng-click="getRequests()" value="Activities"></a> -->
			<table border="1">
				<tr>
					<th>Requester Name</th>
					<th>Requested Amount</th>
				</tr>
				<tr ng-repeat="reqTxn in reqTxns">
					<td>{{reqTxn.name}}</td>
					<td>{{reqTxn.amount}}</td>
				</tr>
			</table>
		</div>
	</form>
</body>
</html>


