<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Wallet Payment Network</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>

<script src="js/register.js"></script>
</head>
<body>
	<div ng-app="myApp" class="container" style="width: 550px">
		<div style="text-align: center; color: blue" >
			<h3>
				<b>Wallet Payment Network</b>
			</h3>
		</div>
		<div ng-controller="UserController">
			<form role="form" class="well" ng-hide="ifSearchUser">
				<div class="form-group">
					<label for="ssn"> SSN: </label> <input type="text" id="ssn"
						class="form-control" placeholder="Enter Ssn "
						ng-model="userAccount.ssn">
				</div>
				<div class="form-group">
					<label for="name"> Name: </label> <input type="text" id="name"
						class="form-control" placeholder="Enter Name "
						ng-model="userAccount.name">
				</div>
				<div class="form-group">
					<label for="email"> Email: </label> <input type="email" id="email"
						class="form-control" placeholder="Enter Email "
						ng-model="emailId">
				</div>
				<div class="form-group">
					<label for="password"> Password: </label> <input type="password"
						id="password" class="form-control" placeholder="Enter Password "
						ng-model="userAccount.password">
				</div>
				<div class="form-group">
					<label for="phone"> Phone: </label> <input type="text" id="phone"
						class="form-control" placeholder="Enter Phone "
						ng-model="userAccount.phoneNo">
				</div>
				<div class="form-group">
					<label for="bankId"> BankId: </label> <input type="text" id="bankId"
						class="form-control" placeholder="Enter BankId "
						ng-model="userAccount.bankId">
				</div>
				<div class="form-group">
					<label for="accountNumber"> AccountNumber: </label> <input type="text" id="accountNumber"
						class="form-control" placeholder="Enter AccountNumber "
						ng-model="userAccount.accountNumber">
				</div>
				<br> <input type="button" class="btn btn-primary" ng-click="registerUser()" value="Submit">
				
			</form>
		</div>
	</div>
</body>
</html>